<% hide_issue_id = (defined?(hide_items[:issue_id])) ? true : false %>

<table class="list em_list" style="display:none;">
<thead><tr>
    <th class="#">#</th>
    <th class="enabled"><%= l(:label_enabled) %></th>
    <% if !hide_issue_id %>
        <th class="issue_id"><%= l(:label_issue_id) %></th>
    <% end %>
    <th class="status"><%= l(:field_status) %></th>
    <th class="priority"><%= l(:field_priority) %></th>
    <th class="equipment_id"><%= l(:label_equipment) %></th>
    <th class="start_datetime"><%= l(:label_start_datetime) %></th>
    <th class="due_datetime"><%= l(:label_due_datetime) %></th>
</tr></thead>
<tbody>
</tbody>
</table>

<%= javascript_include_tag 'generate_table.js', :plugin => 'equipment_management' %>
