<div class="contextual">
  <%= #link_to_if_authorized(l(:button_edit),
    link_to(l(:button_edit),
    {action: 'edit', id: @embook.id},
    class: 'icon icon-edit') %>
  <%= #link_to_if_authorized(l(:button_delete),
    link_to(l(:button_delete),
    {action: 'destroy', id: @embook.id},
    method: :delete,
    data: { confirm: l(:text_are_you_sure) },
    class: 'icon icon-del') %>
</div>

<h2><%= l(:label_title_embooks) %>#<%= '@embook.id' %></h2>

<div class="issue">
  <div class="subject">
    <h3><%= '@embook.id' %></h3>
  </div>
</div>
